
@{
    ViewData["Title"] = "NewPassword";
}

    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <div class="text-center">
                <img src="~/images/logo.png" width="150rem" height="150rem">
            </div>
            <input type="hidden" name="email" id="email" value="@ViewBag.Mail" />

            <div class="form-group mt-2 mb-2">
                <label for="Email">Şifre</label>
                <input type="text" id="password" class="form-control" name="password">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="Email">Şifre Yeniden</label>
                <input type="text" id="againpassword" class="form-control" name="againpassword">
            </div>
            <div class="border p-3">
                <button onclick="newPass()" class="btn btn-outline-primary btn-block"><i class="fas fa-sign-in-alt"></i>&nbsp;Şifremi Yenile</button>
                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-success btn-block"><i class="fas fa-home"></i>&nbsp;Ana Sayfaya Dön</a>
            </div>
        </div>
    </div>

@section Scripts{ 
    <script>

        function newPass() {
            var email = $('#email').val();
            var pass = $('#password').val();
            var againpassword = $('#againpassword').val();

            if (pass != "" && againpassword != "") {
                $.ajax({
                    url: "/Account/NewPassword",
                    type: "POST",
                    data: {
                        mail: email,
                        pass: pass
                    },
                    success: function () {
                        alertify.success("şifre değişti");
                    },
                    error: function () {
                        alertify.error("işfre değişemedi");
                    }
                });
            } else {
                alertify.error("boş bırakamyın lütfen");
            }
        }
        

    </script>

}
