
@{
    ViewData["Title"] = "MainPage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="container ">
    <u><h4 class="text-secondary mt-3">Yemek Listesi</h4></u>
   
    <div id="gelenYemekler">
        <!--Yemekler bu kısma geliyor.-->
    </div>
</div>